{% extends 'base.html.twig' %}

{% block title %}Court{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class=" d-flex justify-content-center">
        <a href="{{ path('app_court') }}" class="btn btn-warning m-3">Retour</a>
        <a href="{{ path('app_court_edit', {'id': court.id}) }}" class="btn btn-warning m-3">Modifier</a>
        <a href="{{ path('app_court_block', {'court_id': court.id}) }}" class="btn btn-warning m-3">Bloquer</a>
        {{ include('court/_delete_form.html.twig') }}
    </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-danger m-0 fw-bold text-center">Information sur le terrain {{ court.name }}</p>
            </div>
            <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table table-striped table-hover my-0" id="dataTable ">
                <tbody>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ court.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ court.name }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ court.surface.name }}</td>
            </tr>
            <tr>
                <th>Lightning</th>
                <td>{{ court.lightning ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ court.indoor ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ court.startTime ? court.startTime|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ court.endTime ? court.endTime|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ court.picture }}</td>
            </tr>
            <tr>
                <th>Detailled_map</th>
                <td>{{ court.detailedMap }}</td>
            </tr>
            <tr>
                <th>RatingAvg</th>
                <td>{{ court.ratingAvg }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ court.slug }}</td>
            </tr>
            <tr>
                <th>RenovatedAt</th>
                <td>{{ court.renovatedAt ? court.renovatedAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ court.createdAt ? court.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ court.updatedAt ? court.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div> 

{% endblock %}
