{% extends 'base.html.twig' %}

{% block title %}Liste des reservations{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class=" d-flex justify-content-center">
		<a href="{{ path('app_reservation_new') }}" class="btn btn-warning m-3">Créer une nouvelle réservation</a>
	</div>
	<div class="card shadow">
		<div class="card-header py-3">
			<p class="text-danger m-0 fw-bold text-center">Liste des réservations</p>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md- text-nowrap">
					<div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
				</div>
			</div>
			<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
				<table class="table table-striped table-hover my-0 list text-center" id="dataTable ">
					<thead>
						<tr>
							<th>#</th>
							<th>Début</th>
							<th>Fin</th>
							<th>Status</th>
							<th>Score</th>
							<th>Prénom du joueur</th>
							<th>Nom du joueur</th>
							<th>Terrain</th>
							<th>Note du terrain</th>
							<th>Nombre de joueurs</th>
							<th>Date de création</th>
							<th>Date de modification</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for reservation in reservations %}
							<tr>
								<td>{{ reservation.id }}</td>
								<td>{{ reservation.startDateTime|date('d-m-Y-H:i') }}</td>
								<td>{{ reservation.endDateTime|date('d-m-Y-H:i') }}</td>
								{% if reservation.status == 1 %}
									<td style="color:green">Réservée</td>
								{% else %}
									<td style="color:red">Annulée
								{% endif %}
								</td>
								<td>
									{% if reservation.score == null %}
										-
									{% else %}
										{{ reservation.score }}
									{% endif %}
								</td>
								<td>{{ reservation.user.firstname|default('-') }}</td>
								<td>{{ reservation.user.lastname|default('-') }}</td>
								<td>{{ reservation.court.name|default('-') }}</td>
								<td>
									{% if reservation.court.ratingAvg == null %}
										-
									{% else %}
										{{reservation.court.ratingAvg}}
									{% endif %}
								</td>
								<td>{{ reservation.countPlayers }}</td>
								<td>{{ reservation.createdAt ? reservation.createdAt|date('d-m-Y') : '-' }}</td>
								<td>{{ reservation.updatedAt ? reservation.updatedAt|date('d-m-Y') : '-' }}</td>
								<td>
									<a href="{{ path('app_reservation_show', {'id': reservation.id}) }}" class="btn btn-sm" style="color: white; background-color: #EA5C0A; border-color: white;">
										<i class="bi bi-search"></i>
									</a>
									<a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-sm" style="color: white; background-color: #FFCA2C; border-color: white;">
										<i class="bi bi-pencil-square"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
