{% extends 'base.html.twig' %}

{% block title %}Utilisateurs {% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-danger m-0 fw-bold text-center">Informations sur les réservations</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md- text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">Page
                            <select class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                            </select>
                        </label>
                    </div>
                    </div>
                </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table table-striped table-hover my-0 list" id="dataTable ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Status</th>
                        <th>Score</th>
                        <th>ID du joueur</th>
                        <th>Terrain</th>
                        <th>Note du terrain</th>
                        <th>Nombre de joueur</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.startDateTime|date('d-m-Y-H:i') }}</td>
                            <td>{{ reservation.endDateTime|date('d-m-Y-H:i') }}</td>
                            <td>{{ reservation.status }}</td>
                            <td>{{ reservation.score }}</td>
                            <td>{{ reservation.user.id }}</td>
                            <td>{{ reservation.court.id}}</td>
                            <td>{{ reservation.courtRating }}</td>
                            <td>{{ reservation.countPlayers }}</td>
                            <td>{{ reservation.createdAt|date('d-m-Y')}}</td>
                            <td>{{ reservation.updatedAt|date('d-m-Y')}}</td>
                            <td>
                               <a href="#" class="btn btn-sm" style="color: white; background-color: #EA5C0A; border-color: white;"><i class="bi bi-search"></i></a>
                                <a href="#" class="btn btn-sm" style="color: white; background-color: #FFCA2C; border-color: white;"><i class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
