{% extends 'base.html.twig' %}

{% block title %}Liste des fermetures temporaires pour : {{ court.name }}{% endblock %}

{% block body %}
<div class="container-fluid">
        <div class=" d-flex justify-content-center">
            <a href="{{ path('app_blocked_courts_by_court', {'court_id': court.id}) }}" class="btn btn-warning m-3">Retour</a>
        </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-danger m-0 fw-bold text-center">Liste des fermetures temporaires pour : {{ court.name }}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md- text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">Page
                            <select class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
        {{ include('_flash_messages.html.twig') }}
            <table class="table table-striped table-hover my-0 list text-center" id="dataTable ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Raison</th>
                        <th>Date et heure de début</th>
                        <th>Date et heure de fin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for blockedCourt in blockedCourts %}
                        <tr>
                            <td>{{ blockedCourt.id }}</td>
                            <td>{{ blockedCourt.blockedReason }}</td>
                            <td>{{ blockedCourt.startDatetime|date('d-m-Y à H:i') }}</td>
                            <td>{{ blockedCourt.endDatetime|date('d-m-Y à H:i')}}</td>
                            <td>
                                <a href="{{ path('app_blocked_court_show', {'court_id': court.id, 'id': blockedCourt.id}) }}" class="btn btn-sm" style="color: white; background-color: #EA5C0A; border-color: white;"><i class="bi bi-search"></i></a>
                                {# <a href="{{ path('app_blocked_court_edit', {'court_id': blockedCourt.court.id})}}" class="btn btn-sm" style="color: white; background-color: #FFCA2C; border-color: white;"><i class="bi bi-pencil-square"></i></a> #}
                            </td>
                        </tr>
                {% else %}
                    <tr><td colspan="5">Pas de fermetures temporaires à afficher pour ce terrain.</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
