<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('images/passingshot.svg') }}" type="image/x-icon">

    <title>{% block title %}{% endblock %} - BackOffice Passing ShO't</title>
</head>
    <body>
    <!-- Nav -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a href="{{ path('app_home') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                            <img src="{{ asset('images/passingshot.svg') }}" height="100" alt="Logo Passing ShO't">
                        </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Réservations</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Terrains</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_user') }}">Utilisateurs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li>
                        <span>Username</span>
                        <i class="bi bi-person-square"></i>
                    </li>
                </ul>
                <a href="#">
                            <button type="button" class="btn btn-warning m-3">Connexion</button>
                        </a>  
                </div>
            </div>
        </nav>
        
        {% block body %}{% endblock %}

    </body>
</html>
