<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google font -->

    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('images/passingshot.svg') }}" type="image/x-icon">

    <title>{% block title %}{% endblock %} - BackOffice Passing ShO't</title>
</head>
    <body>
    <!-- Nav -->
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
            <div class="container-fluid">
            <a href="{{ path('app_home') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('images/passingshot.svg') }}" height="100" alt="Logo Passing ShO't">
            </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_club') }}">Club</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_reservation') }}">Réservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_court') }}">Terrain</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user') }}">Utilisateur</a>
                    </li>
                </ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="navbar-nav flex-nowrap ms-auto">
                    <div class="shadow"></div>
                    <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item no-arrow">
                            <div class="nav-item  no-arrow">
                                <a class="nav-link" aria-expanded="false" href="#">
                                    <span class="d-none d-lg-inline me-2 text-gray-600 small">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                                        <img class="rounded-circle me-2" width="50" height="50" src="{{ app.user.picture }}">
                                </a>
                            </div>
                        </li>
                </ul>
                    <a href="{{ path('logout') }}">
                        <button type="button" class="btn m-3" style="color: white; background-color: #EA5C0A; border-color: white;">Deconnexion</button>
                    </a>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}

        <footer class="bg-white sticky-footer mt-5">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Passing ShO't 2022</span></div>
            </div>
        </footer>
    </body>
</html>
