{% extends 'base.html.twig' %}

{% block title %}Modification de {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class=" d-flex justify-content-center">
        <a href="{{ path('app_user') }}" class="btn btn-warning m-3">Retour</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-danger m-0 fw-bold text-center">Modification de l'utilisateur {{ user.firstname }} {{ user.lastname }}</p>
            </div>
            <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table table-striped table-hover my-0" id="dataTable ">
                <tbody>
                    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                </tbody>
            </table>
        </div>
{% endblock %}
