<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google font -->

    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
    <body>

            <h1 class="text-center">Réponse du formulaire</h1>

            <h3>
                De la part de {{ contact.firstname }} {{ contact.lastname }}.
            </h3>
                
            <p> Adresse mail : {{ contact.email }}
            </p>

            <p>
                Message : {{ contact.message }}
            </p> 

        <footer class="bg-white sticky-footer mt-5">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Formulaire de contact © Passing ShO't 2022</span></div>
            </div>
        </footer>
    </body>
</html>
